@forward 'color' as color-*;
@forward 'schema' as schema-*;
@forward 'variant' as variant-*;
@forward 'palette.create.function';
@forward 'palette.create.mixin';
@forward 'palette.delete.function';
@forward 'palette.each.mixin';
@forward 'palette.get-keys.function';
@forward 'palette.get.function';
@forward 'palette.remove.function';
