// Functions.
@use "var.name.function" as var-name;

// Completed
// The `var.css()` function returns CSS variable of `$name`, `$prefix`, `$suffix` separated by `$delimiter` translated with `$dictionary` in `var()` function
// and fallback `$fallback` value.
// `$name` structure `--#{$prefix}#{$delimiter}#{$name}#{$delimiter}#{$suffix}`.
// @param `$name` Required the `string` or `list` type to set the CSS variable name.
// @param `$delimiter` Separator between each element in name of returned CSS variable in `var()` function.
// @param `$prefix` Prefix in `$name` of `string` or `list` type. 
// @param `$suffix` Suffix in `$name` of `string` or `list` type.
// @param `$dictionary` Dictionary to translate `$name` of `map` type.
// @param `$fallback` A fallback value for returned CSS variable in `var()` function.
// @returns The returned value is CSS variable in `var()` function built of `$name` prefixed with `$prefix`, suffixed with `$suffix` separated by
// `$delimiter` and translated with `$dictionary`, with fallback `$fallback` value.
@function css(
  $name,
  $delimiter: null,
  $prefix: null,
  $suffix: null,
  $dictionary: null,
  $fallback: null,
) {
  @return var(
    var-name.name($name, $delimiter, $prefix, $suffix, $dictionary) +
      if($fallback, #{", " + $fallback}, null)
  );
}

// Examples.
// $prefix: "s"; $delimiter: "-";

// @debug css(layout spacing); // var(--s-layout-spacing)
// @debug css(layout spacing, $delimiter: $delimiter, $prefix: $prefix); // var(--s-layout-spacing)
// @debug css(layout spacing 1, $delimiter: $delimiter, $prefix: $prefix); // var(--s-layout-spacing-1)

// fallback
// @debug css(layout spacing, 250px, $delimiter: $delimiter, $prefix: $prefix); // var(--s-layout-spacing, 250px)

// dictionary
// @debug css(layout spacing, 250px, (layout: lay, spacing: spa), $delimiter, $prefix); // var(--s-lay-spa, 250px)
// @debug css(- b o r d e r, 250px, (delimiter: ''), $delimiter, $prefix); // var(--s-border, 250px)
// @debug css(- b o r d e r '-', 250px, (delimiter: '', prefix: spectre, suffix: width), delimiter, $prefix); // var(--spectre-border-width, 250px)
