// Completed
// The `test.to-equal()` mixin checks whether `$actual` is equal to `$expected`.
// @param `$description` Test description.
// @param `$actual` Actual result.
// @param `$expected` Expected result.
// @param `$execute` A `boolean` indicates to execute test.
// @param `$error` A `boolean` indicates to throw an error if test fail.
// @param `$display` A `boolean` indicates to display `@debug`.
@mixin to-equal(
  $description,
  $actual,
  $expected,
  $execute: true,
  $error: true,
  $display: true,
) {
  @if $execute {
    // Result.
    $result: $actual == $expected;

    // Spec.
    $spec: "#{$result and Passed or Failed}. #{$description} expected #{$actual} got #{$expected}";

    // Throw an error.
    @if $error and not $result {
      @error $spec;
    }

    // Display.
    @if $display {
      @debug $spec;
    }

    // Content.
    @content(
      $result,
      $description,
      $spec,
      $actual,
      $expected,
    );
  }
}
