// Mixins.
@use 'color.set-hsla-color.mixin' as *;

// Status: DONE
// The `color.set()` mixin sets CSS variable color in `hsla()` format, by splitting it into four CSS variables.
// @param `$name`
// @param `$color`
// @param `$hue`
// @param `$saturation`
// @param `$lightness`
// @param `$red`
// @param `$green`
// @param `$blue`
// @param `$alpha`
// @param `$dictionary`
@mixin set(
  $name,
  $color: null,
  $hue: null,
  $saturation: null,
  $lightness: null,
  $red: null,
  $green: null,
  $blue: null,
  $alpha: null,
  $dictionary: ()
) {
  @each $name, $type in $name {
    @if $type == hsla {
      @include set-hsla-color(
        $name,
        $hue,
        $saturation,
        $lightness,
        $alpha,
        $color,
        $dictionary
      );
    }
  }
}

// Examples.
// :host {
//   @include set((primary dark: hsla), #2caced);
// }
