// Sass.
@use "sass:list";
@use "sass:map";
@use "sass:meta";

// Functions.
@use "../map/map.values.function" as map-values;
@use "../string/string.join.function" as string-join;

// Completed
// The `name()` function defines name from the given list and `$dictionary`, separated by `$delimiter`.
// @param `$name` The name as `list` or `string` type with additional element as `map`.
// @param `$delimiter` Delimiter between `$name` elements.
// @param `$prefix` Prefix for `$name` translated with `$dictionary`.
// @param `$suffix` Suffix for `$name` translated with `$dictionary`.
// @param `$dictionary` A dictionary for `$name` elements
// @param `$config` Elements `delimiter`, `prefix`, `suffix` in `$name`.
// @returns The returned value is `$name` with `$prefix`, `$suffix` separated by `$delimiter` translated with `$dictionary`.
@function name(
  $name,
  $delimiter: null,
  $prefix: null,
  $suffix: null,
  $dictionary: null,
  $config: null,
) {
  $delimiter: if(list.length($delimiter) == 0, null, $delimiter);

  // Create config for name structure.
  $config: map.merge($config or (), (
    delimiter: map.get($config or (), delimiter) or delimiter,
    prefix: map.get($config or (), prefix) or prefix,
    suffix: map.get($config or (), suffix) or suffix,
  ));

  // FEATURE: Handle dictionary.
  // Add `$delimiter`, `$prefix` and `$suffix` to `$dictionary`.
  $dictionary: map.deep-merge((
    map.get($config, delimiter): $delimiter,
    map.get($config, prefix): $prefix,
    map.get($config, suffix): $suffix,
  ), $dictionary or ());

  // Get `map` type dictionary from `$name`.
  $extracted-dictionary: ();
  @each $element in $name {
    @if meta.type-of($element) == map {
      $extracted-dictionary: map.merge(
        $extracted-dictionary,
        map.get($element, dictionary) or $element
      );
    }
  }

  // Remove `map` dictionaries from `$name`.
  @if list.length($extracted-dictionary) > 0 {
    $-name: ();
    @each $element in $name {
      @if not (meta.type-of($element) == map) {
        $-name: list.append($-name, $element);
      }
    }
    $name: $-name;
    $dictionary: map.deep-merge($dictionary, $extracted-dictionary);
  }

  // Create `$name`.
  $name: list.join(list.join(map.get($config, prefix), $name), map.get($config, suffix));

  // Translate with `$dictionary`.
  @if $dictionary and list.length($dictionary) > 0 {
    $name: map-values.values(
      $dictionary,
      map-values.values($dictionary, $name...)...
    );
  }

  // Remove `null`.
  $-name: ();
  @each $element in $name {
    @if not ($element == null) {
      $-name: list.append($-name, $element);
    }
  }
  $name: $-name;

  // REMOVE: 
  // Add delimiter to `$name`.
  // $name: values-combine.combine(
  //   (method: append, delimiter: map.get($dictionary, map.get($config, delimiter))),
  //   $name...
  // );

  // Join list elements to the string.
  @return string-join.join(
    map.get($dictionary, map.get($config, delimiter)) or "",
    $name...
  );
}

// Examples.
// Default
// @debug name(border width); // borderwidth

// Size extra large.
// @debug name(border width (extra large)); // borderwidthextralarge

// Translated size extra large to xl by `$dictionary` argument.
// @debug name(border width (extra large), $dictionary: (extra large: xl)); // borderwidthxl

// Translated size extra large to xl by the map in the `$name` argument.
// @debug name(border width (extra large) (extra large: xl)); // borderwidthxl

// Delimiter.
// @debug name(border width, $delimiter: "-"); // border-width
// @debug name(border width "", $delimiter: "-"); // border-width-
// @debug name("" border width, $delimiter: "-"); // -border-width
// @debug name("" border width "", $delimiter: "-"); // -border-width-

// Delimiter + dictionary.
// @debug name(border width (extra large), "-", $dictionary: (extra large: xl)); // border-width-xl

// Delimiter + `$prefix` + `$suffix`.
// @debug name(border width, $delimiter: "-", $prefix: spectre, $suffix: large); // spectre-border-width-large
// @debug name(border width, $delimiter: "-", $prefix: spectre basic, $suffix: extra large); // spectre-basic-border-width-extra-large

// Dictionary + delimiter + prefix and suffix of the `$dictionary`.
// @debug name(border width, $dictionary: (prefix: spectre basic, extra large: xl), $delimiter: "-", $prefix: spectre, $suffix: extra large); // spectre-basic-border-width-xl
// @debug name(border width, $dictionary: (prefix: spectre basic, suffix: extra large), $delimiter: "-", $prefix: spectre, $suffix: large); // spectre-basic-border-width-extra-large

// Dictionary in the name as map.
// @debug name(border width, "-", $dictionary: (prefix: s, suffix: lg)); // s-border-width-lg
// @debug name(border (prefix: spectre) width large, "-"); // spectre-border-width-large
// @debug name(border width lg, "-", $dictionary: (prefix: s)); // s-border-width-lg
// @debug name(border (dictionary: ("prefix": "spectre")) width lg, "-"); // spectre-border-width-lg
// @debug name(border width (extra large), $dictionary: (prefix: a, border: b, b: 1, delimiter: "-", suffix: b, extra large: xl)); // a-1-width-xl-1

// @debug name(layout spacing, "-", prefix, suffix); // prefix-layout-spacing-suffix
// @debug name(layout spacing, (prefix: pre, suffix: suf), "-", prefix, suffix); // pre-layout-spacing-suf
// @debug name(layout spacing (pre: pre1, suf: suf1), (prefix: pre, suffix: suf), "-", prefix, suffix); // pre1-layout-spacing-suf1
// @debug name(layout spacing (prefix1: prefix2, suffix1: suffix2), (pre: prefix1, suf: suffix1), "-", pre, suf, (prefix: __PREFIX__, suffix: __SUFFIX__, delimiter: __DELIMITER__)); // prefix2-layout-spacing-suffix2

// Change the prefix and suffix in the structure name.
// @debug name(border width 20, $delimiter: "-", $prefix: prefix-modified, $suffix: suffix-modified, $config: (prefix: prx)); // prefix-modified-border-width-20-suffix-modified
// @debug name(border width 20, (prx: prx), $delimiter: "-", $prefix: prefix-modified, $suffix: suffix-modified, $config: (prefix: prx)); // prx-border-width-20-suffix-modified

// @debug name(
//   (extra small) border width,
//   (border: b, b: test, prefix: spectre basic, suffix: extra large, extra large: xl, extra small: xs),
//   "-",
//   spectre,
//   large
// ); // spectre-basic-xs-b-width-xl
