@forward 'call' as call-*;
@forward 'function.call.function';
@forward 'function.get.function';
@forward 'function.has.function';
@forward 'function.insert.function';
@forward 'function.is.function';
@forward 'function.name.function';
@forward 'function.pick.function';
@forward 'function.remove.function';
@forward 'function.variables';
