// Sass.
@use "sass:list";
@use "sass:meta";

// Functions.
@use "../../../list/get/get.number.function" as list-get-number;

// In Progress
// The `adjustment.operator-remove()` function.
// @param `$adjustment`
// @arbitrary `$adjustments...`
// @returns The returned value.
@function operator-remove($adjustment, $adjustments...) {
  $adjustments: list.join(($adjustment,), $adjustments);
  @for $i from 1 through list.length($adjustments) {
    @if meta.type-of(list.nth($adjustments, $i)) == list {
      $number: list-get-number.number(list.nth($adjustments, $i));
      @if $number {
        $adjustments: list.set-nth($adjustments, $i, $number);
      }
    }
  }
  @return if(
    list.length($adjustments) == 1,
    list.nth($adjustments, 1),
    $adjustments
  );
}

// Examples.
// @debug operator-remove(("-" 15%)); // 15%
// @debug meta.type-of(operator-remove(("-" 15%))); // number
// @debug operator-remove(("-" 15%), ("*" 15%), ("/" 0.5)); // 15%, 15%, 0.5

// @debug operator-remove(12%, ("*" 15%), ("/" 0.5)); // 15%, 15%, 0.5
