// Sass.
@use "sass:list";
@use "sass:meta";

// Functions.
@use "../../../list/get/get.string.function" as list-get-string;

// In Progress
// The `adjustment.operator-get()` function.
// @param `$adjustment`
// @arbitrary `$adjustments...`
// @returns
@function operator-get($adjustment, $adjustments...) {
  $adjustments: list.join(($adjustment,), $adjustments);
  @for $i from 1 through list.length($adjustments) {
    @if meta.type-of(list.nth($adjustments, $i)) == list {
      $operator: list-get-string.string(list.nth($adjustments, $i));
      @if $operator {
        $adjustments: list.set-nth($adjustments, $i, $operator);
      }
    }
  }
  @return if(
    list.length($adjustments) == 1,
    list.nth($adjustments, 1),
    $adjustments
  );
}

// Examples.
// @debug operator-get(("-" 15%)); // -
// @debug operator-get(("-" 15%), ("*" 15%),  ("/" 0.5)); // "-", "*", "/"
