// Sass.
@use 'sass:list';

// Status: DONE
// The `remove.index()` function returns the list with removed given indexes.
// @param `$list` A list from which the given indexes are being removed.
// @param `$index` Index of the given `$list` to be removed.
// @arbitrary `$indexes...` Indexes of the given `$list` to be removed.
// @return The list without the given indexes.
@function index($list, $index, $indexes...) {
  $indexes: list.join($index, $indexes, comma);
  $result: ();
  @for $i from 1 through list.length($indexes) {
    @if list.nth($indexes, $i) < 0 {
      $indexes: list.set-nth($indexes, $i, list.length($list) - (list.nth($indexes, $i) * -1) + 1);
    }
  }
  @for $i from 1 through list.length($list) {
    @if not list.index($indexes, $i) {
      $result: list.append($result, list.nth($list, $i), list.separator($list));
    }
  }
  @return $result;
}

// Examples.
// index
// @debug index(('a', 'b', 'c', ('d', 'e', 'f'), 'g', 'h', 'i', 'j', 'k'), 4); // "a", "b", "c", "g", "h", "i", "j", "k"

// indexes
// @debug index(('a', 'b', 'c', ('d', 'e', 'f'), 'g', 'h', 'i', 'j', 'k'), 2, 4, 7); // "a", "c", "g", "h", "j", "k"
// @debug index(('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'), 2, 3, 4, 5); // "a", "f", "g", "h", "i"

// negative indexes
// @debug index(('a', 'b', 'c', ('d', 'e', 'f'), 'g', 'h', 'i', 'j', 'k'), -1, -6); // "a", "b", "c", "g", "h", "i", "j"
