// Modules.
@use '../../../list';

// Functions.
@use 'name.add-indicator.function' as *;
@use 'name.index.function' as *;

// Status: DONE
// The `color.add-indicator-multiple()` function adds `color` indicator each `$names`.
// @arbitrary `$names...` String or list color name to add `color` indicator.
// @returns The returned value is `$names` with added `color` indicator.
@function add-indicator-multiple($names...) {
  // Prepare variables.
  $options: list.last($names);
  @if type-of($options) == map {
    $names: list.remove-nth($names, -1);
  } @else {
    $options: ();
  }

  // Add `color` indicator to `$names`.
  @for $i from 1 through list.length($names) {
    @if not index(list.nth($names, $i), color) {
      $names: list.set-nth($names, $i, add-indicator(list.nth($names, $i), $options...));
    }
  }
  @return $names;
}

// Examples.
// @debug add-indicator-multiple(accent, primary, secondary  dark, secondary light, primary dark);
// @debug add-indicator-multiple((accent, 3%), (primary, 1%), secondary dark, secondary light, (primary dark, 5%));
