// Sass.
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

// Functions.
@use '../../functions/important.function' as *;
@use '../functions/color.color.function' as *;

// Status: TODO: Add use map as arguments in `$color`.
// The `color.property-color()` mixin.
// @param `$property-color`
// @param `$hue`
// @param `$saturation`
// @param `$lightness`
// @param `$alpha`
// @param `$fallback`
// @param `$important`
// @param `$dictionary`
@mixin property-color(
  $property-color,
  $hue: null,
  $saturation: null,
  $lightness: null,
  $alpha: null,
  $fallback: null,
  $important: false,
  $dictionary: ()
) {
  @each $property, $color in $property-color {
    @each $property in $property {
      #{$property}: color(
          $color,
          $hue,
          $saturation,
          $lightness,
          $alpha,
          $fallback,
          $dictionary
        ) +
        important($important);
    }
  }
}

// Examples.
// :host {
// property var color
// @include property-color((border-color: border color,)); // border-color: var(--s-border-color);

// property hsla color
// @include property-color((border-color: border color ':hsla')); // border-color: hsla(var(--s-border-color-h), var(--s-border-color-s), var(--s-border-color-l), var(--s-border-color-a));

// property hsla color + adjust
// @include property-color((border-color: (border color) 15% ':hsla')); //  border-color: hsla(var(--s-border-color-h), var(--s-border-color-s), calc(var(--s-border-color-l) + 15%), var(--s-border-color-a));

// property hsla color
// @include property-color((border-color: (primary color: hsla))); // border-color: hsla(var(--s-primary-color-h), var(--s-primary-color-s), var(--s-primary-color-l), var(--s-primary-color-a));
// @include property-color((border-color: border color ':hsla')); // border-color: hsla(var(--s-border-color-h), var(--s-border-color-s), var(--s-border-color-l), var(--s-border-color-a));

// property hsla color + adjust lightness alpha
// @include property-color((border-color: ((primary color) 15% 0.5: hsla))); // border-color: hsla(var(--s-primary-color-h), var(--s-primary-color-s), calc(var(--s-primary-color-l) + 15%), calc(var(--s-primary-color-a) + 0.5));
// @include property-color((border-color: ((primary color, 15%, 0.5): hsla)));

// properties + same color
// @include property-color(( background color border-color: border color));
// background: var(--s-border-color);
// color: var(--s-border-color);
// border-color: var(--s-border-color);

// properties + same hsla color
// @include property-color(( background color border-color: (border color: hsla)));
// background: hsla(var(--s-border-color-h), var(--s-border-color-s), var(--s-border-color-l), var(--s-border-color-a));
// color: hsla(var(--s-border-color-h), var(--s-border-color-s), var(--s-border-color-l), var(--s-border-color-a));
// border-color: hsla(var(--s-border-color-h), var(--s-border-color-s), var(--s-border-color-l), var(--s-border-color-a));

// properties + different colors
// @include property-color((
//   border-color: border color, // var(--s-border-color);
//   color: primary dark ':hsla', // color: hsla(var(--s-primary-color-h), var(--s-primary-color-s), var(--s-primary-color-l), var(--s-primary-color-a))
//   background: (secondary: hsla), // background: hsla(var(--s-secondary-color-h), var(--s-secondary-color-s), var(--s-secondary-color-l), var(--s-secondary-color-a));
// ));

// @include property-color((color: (color: primary dark, hue: 2deg))); // TODO:
// }
