// Sass.
@use 'sass:list';
@use 'sass:map';

// Variables.
@use '../../var/var.variables' as variables;

// Modules.
@use 'adjustment/adjustment.has.function';

// Module functions.
@use 'name.create.function' as *;

// Status: DONE
// The `color.name-replace()` function updates color name with `color` indicator and `$shade`.
// @param `$name`
// @param `$replace`
// @param `$type`
// @param `$delimiter`
// @param `$shade` (dark, light)
// @returns
@function replace(
  $name,
  $replace,
  $type: null,
  $delimiter: map.get(variables.$var, delimiter),
  $shade: (dark, light),
) {
  @return if(
    adjustment.has($name),
    list.set-nth($name, 1, create($replace, $type, $delimiter, $shade)),
    create($replace, $type, $delimiter, $shade)
  );
}

// Examples.
// @debug replace(primary, secondary light, lightness); // secondary color light lightness
// @debug replace(primary dark, secondary light, lightness); // secondary color light lightness

// adjustment
// @debug replace((primary,) 15% 0.1, secondary light, lightness); // (secondary color light lightness) 15% 0.1

// comma adjustment
// @debug replace((primary dark) 15% 0.1, secondary light, lightness); // (secondary color light lightness) 15% 0.1
// @debug replace((primary dark, 15deg, 15%, 0.1), secondary light, lightness); // secondary color light lightness, 15deg, 15%, 0.1
