// Modules.
@use '../../list';
@use '../../map';

// Functions.
@use 'name.retrieve.function' as *;

// Status: DONE
// The `color.name-adjust()` function adjusts `$name` with `$adjust`.
// @param `$name`
// @param `$adjust`
// @param `$hue`
// @param `$saturation`
// @param `$lightness`
// @param `$alpha`
// @param `$separator`
// @returns
@function adjust(
  $name,
  $adjust: null,
  $hue: null,
  $saturation: null,
  $lightness: null,
  $alpha: null,
  $separator: map.get($adjust, separator, list.separator($name)) ,
) {
  // Retrieve adjustment.
  $adjustment: retrieve($name);
  $name: map.get($adjustment, name);

  // FEATURE: Calculate adjustments.
  @if $lightness or map.get($adjustment, lightness) or map.get($adjust, lightness) {
    $lightness: calc(if($lightness, $lightness, 0%) + map.get($adjustment, lightness, 0%) + map.get($adjust, lightness, 0%));
  }
  @if $alpha or map.get($adjustment, alpha) or map.get($adjust, alpha) {
    $alpha: calc(if($alpha, $alpha, 0) + map.get($adjustment, alpha, 0) + map.get($adjust, alpha, 0));
  }
  @if $hue or map.get($adjustment, hue) or map.get($adjust, hue) {
    $hue: calc(if($hue, $hue, 0deg) + map.get($adjustment, hue, 0deg) + map.get($adjust, hue, 0deg));
  }
  @if $saturation or map.get($adjustment, saturation) or map.get($adjust, saturation) {
    $saturation: calc(if($saturation, $saturation, 0%) + map.get($adjustment, saturation, 0%) + map.get($adjust, saturation, 0%));
  }

  // Add hue, saturation, lightness or alpha to color name.
  @if $lightness {
    $name: list.append(($name,), $lightness, $separator);
    @if $alpha {
      $name: list.append($name, $alpha, $separator);
      @if $hue {
        $name: list.insert-nth($name, 2, $hue);
        @if $saturation {
          $name: list.insert-nth($name, 3, $saturation);
        }
      }
    }
  }
  @return $name;
}

// Examples.
// $lightness
// $lightness $alpha
// $hue $lightness $alpha
// $saturation $lightness $alpha
// $hue $saturation $lightness $alpha

// @debug adjust(primary, (alpha: 0.1), $lightness: 15%); // primary color
// @debug adjust((primary color, 15%), (alpha: 0.1));
// @debug adjust((primary color, 15%), (hue: 15deg));

// Lightness
// @debug adjust((primary color, 15%), (lightness: -3%), $lightness: 4%); // primary color, 16%

// Lightness + alpha
// @debug adjust((primary color, 15%, 0.1), (lightness: -3%, alpha: 0.5), $lightness: 4%, $alpha: 0.4); // primary color, 16%, 1

// Saturation/hue + lightness + alpha
// @debug adjust((primary color, 3deg, 15%, 0.5), (hue: 15deg), 3deg); //

// All
// @debug adjust((primary color, 15%, ), (hue: 15deg, saturation: 3%, lightness: 1%, alpha: 0.2), 3deg, 1%, 1%, 0.1);
