@forward 'object.var';
@forward 'object.copy.function';
@forward 'object.create.function';
@forward 'object.destroy.function';
@forward 'object.get-key.function';
@forward 'object.get.function';
@forward 'object.has-key.function';
@forward 'object.keys.function';
@forward 'object.last-id.function';
@forward 'object.last-name.function';
@forward 'object.merge.function';
@forward 'object.move.function';
@forward 'object.pick.function';
@forward 'object.remove.function';
@forward 'object.set.function';
@forward 'object.use.function';
