// Sass.
@use "sass:list";
@use "sass:meta";

// Variables.
@use "object.var" as object;

// Functions.
@use "../list/list.insert-nth.function" as list-insert-nth;
@use "object.last-name.function" as object-last-name;

// Completed
// The `object.get-key()` function gets key object of `$name` and `$key`.
// @param `$key` A key to retrieve from object of `$name`.
// @arbitrary `$nested-key...` Additional nested key to add to returned key.
// @returns The returned value is an `object` key of `$name` and `$key`.
@function get-key(
  $key: null,
  $nested-key...
) {
  $name: object.$name or object-last-name.last-name();
  @if $key {
    $key: list.join(if(meta.type-of($key) == map, ($key, ), $key), $nested-key);
  }
  @return if(
    $key,
    list-insert-nth.insert-nth(
      if(list.separator($key) == comma, $key, ($key,)),
      1,
      $name
    ),
    $name
  );
}
