// Modules.
@use '../object' as theme;
@use '../object';

// Examples.
// get-key
// @debug object.get-key(accordion, (dictionary, class));


// create
// @debug '-- create';
// @debug object.create((), dictionary);
// @debug object.create((object: first));
// @debug object.create((object: second, objective: fourth), test);
// @debug object.create((objective: third));

// // get
// @debug '-- get';
// @debug object.get();

// // keys
// @debug '-- keys';
// @debug object.keys();

// // set
// @debug '-- set';
// @debug object.set(f, 333);

// // merge
// @debug '-- merge';
// @debug object.merge(null, (merged: true));

// // use
// @debug '-- use';
// @debug object.use(dictionary);
// @debug object.set(word, translation);

// @debug object.use(test);
// @debug object.set(in test, set);

// // pick
// @debug '-- pick';
// @debug object.pick(object);


// Dictionary
$dictionary: (
  class: (
    prefix: s,
    delimiter: '-',
    // suffix: null
  ),
  var: (
    // name
    prefix: s,
    // suffix: null,
    delimiter: '-',

    // color
    hue: h,
    saturation: s,
    lightness: l,
    alpha: a,

    // words
    size: size,
    // 'sm': 'small' // Can be changed to.
  )
) !default;


// $debug: object.create($dictionary, dictionary);
// $debug: object.use(dictionary);
// $debug: object.set((class, prefix), spectre);

// Theme
$theme-light: (
  // Theme color.
  // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color
  theme color: #5755d9,

  // Core colors.
  dark color: #303742,
  light color: #020202,

  // - Accent color.
  accent color: #9932CC,

  // - Primary colors.
  primary color: #5755d9,
  primary color dark: (primary color, -3%),
  primary color light: (primary color, +3%),

  // - Secondary colors.
  secondary color: (primary color, +37.5%),
  secondary color dark: (secondary color, -3%),
  secondary color light: (secondary color, +3%),

  // Gray colors.
  gray color: (dark color, +55%),
  gray color dark: (gray color, -30%),
  gray color light: (gray color, +20%),

  // Bg colors.
  bg color: (dark color, +75%),
  bg color dark: (bg color, -3%),
  bg color light: light color,

  // Border colors.
  border color: (dark color, +65%),
  border color dark: (border color, -10%),
  border color light: (border color, +8%),

  // Link colors.
  link color: primary color,
  link color dark: (link color, -10%),
  link color light: (link color, +10%),

  // Body colors.
  body bg color: bg color light,
  body font color: (dark color, +5%),

  // Control colors.
  // disabled color: $disabled-color,
  // error color: $error-color,
  // info color: $info-color,
  // success color: $success-color,
  // warning color: $warning-color,

  // // Other colors.
  // code color: $code-color,
  // highlight color: $highlight-color,
) !default;

// Initialize
// $debug: object.create((light: $theme-light), theme);
// $debug: object.use(theme);
// $debug: object.set((light, dark color), #aaa);
// $debug: object.merge(light, (object 1: 1), (object 2: 2));

// @debug object.destroy();
// @debug object.destroy(theme);
// @debug object.destroy(dictionary);

// $debug: object.use(null);
// @debug object.get();
// @debug object.last-name();
// @debug object.keys();
// @debug object.has-key((theme: (light, theme color)));
// @debug object.has-key(light, theme color);

// @debug object.pick((light, dark color));

// $debug: object.copy(light, (dark color, theme)); // DONE
// $debug: object.move(light, (dark color, theme)); // DONE
// $debug: object.set((dictionary: class), test); // DONE

// copy from used dictionary to theme
// $debug: object.copy((dictionary: class), (dictionary, class));

// copy between objects
// $debug: object.use(dictionary);
// $debug: object.copy(class, (theme: (dictionary, class)));
// $debug: object.copy((dictionary: class), (theme: (dictionary, class)));
// $debug: object.copy((theme: light), (dictionary: (dark color, theme)));
// $debug: object.copy((dictionary: class), (theme: (dictionary, class)));

// move between objects
// $debug: object.move((theme: light), (dictionary: (dark color, theme)));

// @debug object.$object;
