// Sass.
@use 'sass:list';
@use 'sass:meta';

// Variables.
@use 'dictionary.variables' as variables;

// Modules.
@use '../../map';

// Status: DONE
// The `dictionary.pick()` function returns the dictionary from a global dictionary(if in use) and a given `$dictionary` from the associated `$key`.
// @param `$key` A key to pick the dictionary from the global dictionary(if in use) and given `$dictionary`.
// @param `$dictionary` Additional dictionary to pick along with a global dictionary(if in use).
// @param `$global` A `bool` value indicates whether to use a global dictionary. Default, `null`.
// @return The return value is a dictionary consisting of the global dictionary(if in use) and given `$dictionary` from the associated `$key`.
@function pick($key, $dictionary: (), $global: null) {
  $dictionary: if(meta.type-of($dictionary) == list and list.length($dictionary) > 0, map.retrieve(pick, $dictionary...), $dictionary);
  @if if(meta.type-of($global) == bool, $global, variables.$dictionary-global) {
    $dictionary: if(
      $key,
      map.deep-merge(map.pick(variables.$dictionary, $key...), map.pick($dictionary, $key...) or $default),
      map.deep-merge(variables.$dictionary, $dictionary)
    );
  } @else if $key {
    $dictionary: map.pick($dictionary, $key...) or $default;
  }
  @return $dictionary;
}

// Examples.
// $-dictionary: (
//   general: (word: słowo, (wrapper, wrap): owijka, technology: (action: akcja)),
//   class: (prefix: spectre-prefix, suffix: spectre-suffix, calendars: (calendar: cal), labels: (label: lab)),
//   prefix: spectre,
//   suffix: end,
//   separator: '--',
//   var: (prefix: spectre, suffix: end)
// );

// Examples.
// Pick the global dictionary.
// @debug pick(null); // ()

// Deactivate picking from the global dictionary.
// @debug pick(null, $global: false); // ()

// Pick dictionary from the `$-dictionary` variable.
// @debug pick(null, $-dictionary); //

// Pick dictionary from the `$-dictionary` variable by using string key.
// @debug pick(general, $-dictionary); //

// Pick dictionary from the `$-dictionary` variable by using deep key.
// @debug pick(((class, calendars),), $-dictionary class); //
// @debug pick([(class, calendars)], $-dictionary); //

// Pick dictionary from the `$-dictionary` with not existing key.
// @debug pick(no-field, $-dictionary); //

// Pick dictionary from the `$-dictionary` variable and `$global` false.
// @debug pick(null, $-dictionary, $global: false); //
// @debug pick(general, $-dictionary, $global: false); //
// @debug pick(no-field, $-dictionary, $global: false); //

// Pick dictionary by using multiple keys and deep key.
// @debug pick((general, var, (class, calendars)), $-dictionary); //

// Custom dictionary.
// @debug pick(class, $-dictionary); //
// @debug pick((prefix,), $-dictionary); //

// Custom dictionary + pick key
// @debug pick(null, $-dictionary ((class, calendars),), $global: false); //
