// Modules.
@forward 'get' as get-*;
@forward 'has' as has-*;
@forward 'remove' as remove-*;

// Functions.
// Alias to the get.
@forward 'get/get.bool.function';
@forward 'get/get.list.function';
@forward 'get/get.map.function';
@forward 'get/get.number.function';
@forward 'get/get.string.function';

// Other.
@forward 'list.append.function';
@forward 'list.each.mixin';
@forward 'list.empty.function';
@forward 'list.extract-map.function';
@forward 'list.first.function';
@forward 'list.from.function';
@forward 'list.has.function';
@forward 'list.index.function';
@forward 'list.insert-nth.function';
@forward 'list.invert.function';
@forward 'list.join.function';
@forward 'list.last.function';
@forward 'list.limit.function';
@forward 'list.merge.function';
@forward 'list.nth.function';
@forward 'list.range.function';
@forward 'list.replace-string.function';
@forward 'list.replace.function';
@forward 'list.select.function';
@forward 'list.swap.function';
@forward 'list.to-map.function';
@forward 'list.to.function';
@forward 'list.type.function';
@forward 'list.update.function';

// Sass.
@forward 'sass:list' hide append, index, join, nth;
