// Sass.
@use 'sass:list';

// Status: DONE
// The `list.insert-nth()` function returns the `$list` with `$value` inserted into index `$n`.
// @param `$list` The list to insert `$value` at index `$n`.
// @param `$n` The index `$n` under which `$value` is inserted.
// @param `$value` The value to insert at `$n` index.
// @return The return value is the list with the inserted `$value` at the `$n` index.
@function insert-nth($list, $n, $value) {
  $result: ();
  @for $i from 1 through list.length($list) {
    @if $n == $i {
      $result: list.append($result, $value, list.separator($list));
    }

    $result: list.append($result, list.nth($list, $i), list.separator($list));
  }
  @return $result;
}

// Examples.
// @debug insert-nth(('a', 'b', 'd', 'e', 'f', 'g'), 3 , 'c'); // "a", "b", "c", "d", "e", "f", "g"
// @debug insert-nth('a' 'b' 'd' 'e' 'f' 'g', 3, 'c'); // "a" "b" "c" "d" "e" "f" "g"
// @debug insert-nth(('a' 1) ('b' 2) ('d' 4) ('e' 5) ('f' 6) ('g' 7), 3, ('c' 3)); // ("a" 1) ("b" 2) ("c" 3) ("d" 4) ("e" 5) ("f" 6) ("g" 7)
