// Sass.
@use 'sass:list';
@use 'sass:meta';

// Functions.
@use '../../list/list.to-map.function' as *;
@use '../../selector/selector.class.function' as *;
@use '../../selector/selector.nest.function' as *;
@use '../../variant/update/update.property.function';

// Mixins.
@use '../../list/list.each.mixin' as *;
@use '../class.content.mixin' as class;

// Modules.
@use '../../function';
@use '../../map';
@use '../../values';

// Status: DONE
// The `variant.attribute()` mixin sets class `$variant` with `$pseudo-class` translated with `$dictionary`, and called by `$function`.
// @param `$variant` Class variant with `$pseudo-class` called by `$function`.
// @param `$pseudo-class` Pseudo class for class `$variant`.
// @param `$dictionary` Dictionary to translate class `$variant`.
// @param `$function` The function to set class `$variant`.
// @param `$content-type`
// @param `$modifier`
@mixin attribute(
  $variant,
  $pseudo-class: (),
  $dictionary: (),
  $function: meta.get-function(class),
  $content-type: map,
  $modifier: null,
) {
  @if type-of($variant) == map {
    $content-keys: (
      class,
      (2: value, 3: property, 4: property),
      (3: value, 4: value-class, 5: attribute),
      (4: value, 5: value-class),
      value,
      variant
    );
    @each $class, $attribute-variant in $variant {
      $property: null;
      @if type-of($class) == map {
        @each $-class, $-property in $class {
          $class: $-class;
          $property: $-property;
        }
      }
      @if type-of($attribute-variant) == map {
        @each $attribute, $variant in $attribute-variant {
          @include each($class) using($class) {
            @if type-of($variant) == map {
              // TODO? suffix for property
              @include each($attribute) using($attribute) {
                @each $value-class, $value in $variant {
                  @include class.content(
                    values.join(
                      if(&, '&', ()),
                      map.get($modifier, (class, prefix), null),
                      $class,
                      $attribute,
                      map.get($modifier, (class, attribute), null),
                      if(list.separator($value-class) == comma, ($value-class,), $value-class),
                      map.get($modifier, (class, suffix), null),
                    ),
                    $pseudo-class,
                    $dictionary,
                    $function,
                  ) {
                    $-property: $property or $class;
                    @if $modifier {
                      $-property: update.property($-property, $modifier, $attribute);
                    }

                    $values: ($class, $-property, $attribute, $value-class, $value, ($value-class: $value));
                    $arguments: if(
                      $content-type == map,
                      to-map($values, $content-keys...),
                      values.combine((separator: comma), $values...)
                    );
                    @if type-of($arguments) == list {
                      @content($arguments...);
                    } @else {
                      @content($arguments);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
