// Sass.
@use 'sass:list';

// Modules.
@use '../../map';
@use '../../string';
@use '../palette';

// Functions.
@use '../../list/list.range.function' as *;
@use 'theme.pick.function' as *;

// Status: DONE
// The `color.theme-build()` function.
// @param `$theme`
// @arbitrary `$pick...`
// @returns The returned value is a map built from `$pick...`.
@function build($theme, $pick...) {
  $result: ();
  @if type-of($theme) == map {
    @if list.length($pick) > 0 {
      @each $pick in $pick {
        @each $theme, $palettes in pick($theme, $pick) {
          @each $name, $variant in $palettes {
            $result: map.deep-merge($result, ($theme: palette.create(($name: $variant))));
          }
        }
      }
    } @else {
      @each $theme, $palettes in $theme {
        @each $name, $variant in $palettes {
          $result: map.deep-merge($result, ($theme: palette.create(($name: $variant))));
        }
      }
    }
  }
  @return $result;
}
