// Sass.
@use 'sass:map';

// Modules.
@use '../../color';
@use 'theme.load.mixin' as *;

// TODO: Check dark word.
// Theme.
$-theme: (
  dark: (
    core: ((dark, 15%), light, accent, primary, primary dark, primary light, ),
    ('+gray', +secondary, +primary large): (xs (color, dark, light)),
    (secondary small): (xs (color, dark, light)),
  ),

  dark room: (
    core: ((dark, 15%), light, accent, primary, primary dark, primary light, ),
    ('+gray', +secondary, +primary large): (xs (color, dark, light)),
    (secondary small): (xs (color, dark, light)),
  ),

  (dark theme, light theme): (
    core: ((dark, 15%), light, accent, primary, primary dark, primary light, ),
    ('+gray', +secondary, +primary large): (xs (color, dark, light)),
    (secondary small): (xs (color, dark, light)),
  ),

  basic: (
    // core: (dark, light, accent, [primary [color, dark, light]], [secondary [color, dark, light]]),
    core: ((dark, 15%), light, accent, primary, primary dark, primary light, ),
    // core: (
    //   dark: (dark color, -15%),
    //   light: light color,
    //   accent: accent color,
    //   primary: primary color,
    //   primary dark: primary dark,
    //   primary light: primary light,
    //   secondary: secondary color,
    //   secondary dark: secondary dark,
    //   secondary light: secondary light
    // ),

    basic xs: ((): (primary, primary dark, primary light)),
    (basic lg, premium sm): ((): (primary, primary dark, primary light)),

    // build variant
    ('+gray', +secondary, +primary large): (xs (color, dark, light)),
    (secondary small): (xs (color, dark, light)),
    +accent: (color, dark, light),
    accent: (accent (color, dark, light)),
    // 'gray': (
    //   'gray': 'gray' color,
    //   'gray' dark: 'gray' dark,
    //   'gray' light: 'gray' light
    // ),

    // [bg]: [color, dark, light],
    bg: (
      bg: bg color,
      bg dark: (bg dark, -30%),
      bg light: bg light
    ),

    // [border]: [color, dark, light],
    border: (
      border dark: border dark,
      border light: border light
    ),

    // [link]: [color, dark, light],
    link: (
      link: link color,
      link dark: link dark,
      link light: link light
    ),

    // variant
    (chat, sidebar, footer large): (disabled, error, info, success, warning),
    // control: (disabled, error, info, success, warning),
    control: (
      disabled: disabled color,
      error: error color,
      info: info color,
      success: success color,
      warning: warning color
    ),

    'body.palette': (
      body bg: body bg color,
      body font: body font color
    ),

    'other.palette': (
      code: code color,
      highlight: highlight color
    ),

    'other.colors': (
      code: code color,
      highlight: highlight color
    )

  )
) !default;

// Load theme.
@include load($-theme, dark) using($color-scheme, $palette-name, $variant) {
  @include color.variant-create((background: $variant));
}
