// Sass.
@use 'sass:map';

// Variables.
@use '../../variables';

// Modules.
@use '../../var';
@use '../name';

// Functions.
@use 'color.name.function' as *;

// Status: DONE
// The `color.lightness-var()` function returns color name of CSS variable lightness.
// @param `$name` Color name of `string` or `list` type.
// @param `$adjust` Adjustment for lightness value.
// @param `$fallback` Fallback value of returned lightness variable.
// @param `$dictionary` Dictionary for `$name` translation.
// @param `$delimiter` Separator between each element in name of returned CSS variable.
// @param `$prefix` Prefix in `$name`. By default, it uses `prefix` of `$var` sass variable.
// @param `$suffix` Suffix in `$name`. By default, it uses `suffix` of `$var` sass variable.
// @param `$shade` Shade of color, by default dark or light.
// @param `$color` Retrieved color from `$name`.
// @returns The returned value is CSS variable that indicates lightness of color.
@function lightness-var(
  $name,
  $adjust: null,
  $fallback: null,
  $dictionary: (),
  $delimiter: null,
  $prefix: null,
  $suffix: null,
  $shade: (dark, light),
  $color: name.retrieve($name),
) {
  @return var.get(
    name(map.get($color, name), lightness, $delimiter, $shade: $shade),
    name.adjustment-calculate(map.get($color, lightness), $adjust, 0%),
    null,
    $fallback,
    $dictionary,
    map.get($dictionary, map.get(variables.$name-configuration, delimiter)) or $delimiter,
    $prefix,
    $suffix,
  );
}

// Examples.
// @debug lightness-var(primary); // var(--s-primary-color-lightness)

// adjusted lightness
// @debug lightness-var(primary, 1%); // calc(var(--s-primary-color-lightness) + 1%)
// @debug lightness-var(primary ('+' 2%)); // calc(var(--s-primary-color-lightness) + 2%)

// adjusted lightness + backup
// @debug lightness-var(primary, 1%, 30%); // calc(var(--s-primary-color-lightness, 30%) + 1%)

// dictionary
// @debug lightness-var(primary, 1%, 30%, (prefix: spectre, suffix: basic)); // calc(var(--spectre-primary-color-lightness-basic, 30%) + 1%)

// adjustment in name
// @debug lightness-var((primary-dark, 15%, 0.1), 5%, $delimiter: '-'); // calc(var(--primary-color-dark-lightness) + 20%)
