@forward 'map.deep-merge-key.function';
@forward 'map.deep-merge.function';
@forward 'map.depth.function';
@forward 'map.get-any.function';
@forward 'map.get-index.function';
@forward 'map.get.function';
@forward 'map.has-keys.function';
@forward 'map.key-pattern-index.function';
@forward 'map.key-replace.function';
@forward 'map.keys-pattern.function';
@forward 'map.keys.function';
@forward 'map.merge-allowed.function';
@forward 'map.pick.function';
@forward 'map.remove-type.function';
@forward 'map.remove.function';
@forward 'map.retrieve.function';
@forward 'map.set.function';
@forward 'map.update.function';
@forward 'map.values.function';
@forward 'pattern' as pattern-*;
@forward 'pick' as pick-*;
@forward 'sass:map' hide deep-merge, get, keys, remove, set, values;
