// Sass.
@use 'sass:list';

// Functions.
@use '../list/list.append.function' as *;
@use '../list/list.join.function' as *;

// Status: DONE
// The `map.to-list()` function creates list from `$map`.
// @param `$map` A map from which returned list is created.
// @param `$separator` Separator of returned list, by default it's from `$map`.
// @param `$bracketed` Indicates whether returned list is bracketed.
// @param `$delimiter` Adds delimiter between elements of returned list.
// @returns The returned value is list created from `$map`
@function to-list($map, $separator: list.separator($map), $bracketed: auto, $delimiter: null) {
  $list: ();
  @each $property in $map {
    $list: append($list, $property, $separator);
  }
  @if $bracketed or $delimiter {
    $list: join((), $list, $separator, $bracketed, $delimiter);
  }
  @return $list;
}

// Examples.
// @debug to-list((--var-get: (aa, bb, cc), a: b, c: d, e: f), $delimiter: '-'); // --var-get (aa, bb, cc), "-", a b, "-", c d, "-", e f
