// Sass.
@use 'sass:map';

// Functions.
@use '../string';

// Status: DONE
// The `map.key-replace()` function.
// @param `$map`
// @param `$replace`
// @param `$replacement`
@function key-replace($map, $replace, $replacement) {
  @if type-of($map) == map {
    $result: ();
    @each $key, $value in $map {
      @if type-of($key) == string and type-of($replace) == string and type-of($replacement) == string {
        @if string.index($key, $replace) {
          $key: string.replace($key, first $replace $replacement);
        }
      } @else if $key == $replace {
        $key: $replacement;
      }

      $result: map.merge($result, ($key: $value));
    }
    @return $result;
  }
  @return $map;
}

// Examples.
// @debug key-replace((a: 1, b: 2, c: 3), 'a', 'd'); // (d: 1, b: 2, c: 3)
// @debug key-replace(('bold king': 1, b: 2, c: 3), 'bold', 'hairy'); // ("hairy king": 1, b: 2, c: 3)
// @debug key-replace(('bold king': 1, b: 2, c: 3), 'o', 'ooo'); // ("booold king": 1, b: 2, c: 3)
