// Sass.
@use 'sass:list';
@use 'sass:map';

// Modules.
@use '../../meta';

// Functions.
@use '../../map/get/get.index.function' as map-get-index;
@use '../list.append.function' as list-append;
@use '../list.first.function' as list-first;
@use '../list.last.function' as list-last;

// Status: DONE
// The `get.type()` function returns the list with any, first, last or all occurred elements of `$type` and optional `$types`.
// @param `$list` The list from which occurred elements of required `$type` and optional `$types` are taken.
// @param `$occurrence` Any, first, last or all occurrence of `$type` and optional `$types` in `$list`.
// @param `$type` Required type to retrieve from `$list`.
// @arbitrary `$types...` Additional types to retrieve from `$list`.
// @returns The returned value is occurred any, first, last or all element or list of the elements of required `$type` and optional `$types`.
@function type($list, $occurrence: any, $type, $types...) {
  $result: ();
  @each $element in $list {
    $result: meta.of-type($type, $element)
      and list-append.append($result, $element, comma)
      or $result;
  }
  @return map-get-index.index((
    (first, any): if(list.length($result) > 0, list-first.first($result), null),
    last: if(list.length($result) > 0, list-last.last($result), null),
    all: $result,
  ), $occurrence);
}
