// Sass.
@use "sass:meta";

// Functions.
@use "../values/values.combine.function" as values-combine;

// Completed
// The `name.add-delimiter()` function adds delimiter to the name of `list` type.
// @param `$name` The name of `list` type.
// @param `$delimiter` Delimiter to add between elements of `name`.
// @param `$config` The config of `map` type with `prefix`, `suffix`, and `delimiter` to set in `$name`.
// @returns The returned value is `$name` with `$delimiter` added between each element of `$name`.
@function add-delimiter($name, $delimiter) {
  @if meta.type-of($name) == list {
    $name: values-combine.combine((
        method: append,
        delimiter: $delimiter,
      ),
      $name...
    );
  }
  @return $name;
}

// Examples.
// @debug add-delimiter(primary dark, string.unquote(""));
// @debug add-delimiter(primary dark, string.unquote("-"));
