// Sass.
@use "sass:list";
@use "sass:meta";

// Functions.
@use "../string/string.join.function" as string-join;
@use "name.add-affix.function" as add-affix;
@use "name.add-delimiter.function" as add-delimiter;
@use "name.translate.function" as translate;

// Completed
// The `name.create()` function defines the name with `$prefix` and `$suffix` of the `list` or `string` type from the given `$name` of the `list` type,
// translated with `$dictionary`, separated by `$delimiter`.
// @param `$name` The name as `list` or `string` type with the dictionary element as `map`.
// @param `$delimiter` Delimiter between `$name` elements.
// @param `$prefix` Prefix for `$name` translated with `$dictionary`.
// @param `$suffix` Suffix for `$name` translated with `$dictionary`.
// @param `$dictionary` A dictionary of `map` type to translate elements of `$name`.
// @returns The returned value is `$name` of `list` or `string` on `$string` set to true with `$prefix`, `$suffix` separated by `$delimiter`
// translated with `$dictionary`.
@function create(
  $name,
  $delimiter: null,
  $prefix: null,
  $suffix: null,
  $dictionary: null,
  $string: false,
) {
  $name: add-affix.add-affix($name, $prefix, $suffix);
  $name: $delimiter and not $string and add-delimiter.add-delimiter($name, $delimiter) or $name;
  $name: translate.translate($name, $dictionary) or $name;
  @return $string and string-join.join($delimiter or "", $name...) or $name;
}

// Examples.
// Default
// @debug create(border width, $string: true); // borderwidth

// Size extra large.
// @debug create(border width (extra large), $string: true); // borderwidthextralarge

// Translated size extra large to xl by `$dictionary` argument.
// @debug create(border width (extra large), "", null, null, $string: true, $dictionary: (extra large: xl)); // borderwidthxl

// Translated size extra large to xl by the map in the `$name` argument.
// @debug create(border width (extra large) (extra large: xl), $string: true); // borderwidthxl

// Delimiter.
// @debug create(border width, "-", $string: true); // border-width
// @debug create(border width "", $delimiter: "-", $string: true); // border-width-
// @debug create("" border width, $delimiter: "-", $string: true); // -border-width
// @debug create("" border width "", $delimiter: "-", $string: true); // -border-width-

// Delimiter + dictionary.
// @debug create(border width (extra large), "-", $dictionary: (extra large: xl), $string: true); // border-width-xl

// Delimiter + `$prefix` + `$suffix`.
// @debug create(border width, $delimiter: "-", $prefix: spectre, $suffix: large, $string: true); // spectre-border-width-large
// @debug create(border width, $delimiter: "-", $prefix: spectre basic, $suffix: extra large, $string: true); // spectre-basic-border-width-extra-large
