// Sass.
@use "sass:list";
@use "sass:meta";

// Functions.
@use "../translator/v1.0.0/dictionary/dictionary.extract.function" as dictionary-extract;
@use "../translator/v1.0.0/dictionary/dictionary.translate.function" as dictionary-translate;

// Completed
// The `name.translate()` function translates each list element with `$dictionary` and extracted from `$name` dictionaries.
// @param `$name` The name of `string` or `list` type to translate.
// @param `$dictionary` Dictionary of `map` type to translate name.
// @returns The returned value is translated name of `string` or `list` type by using `$dictionary` and extracted from `$name` dictionaries.
@function translate($name, $dictionary: null) {
  // Get `map` type dictionary from `$name`.
  $extracted-dictionary: meta.type-of($name) == list
    and dictionary-extract.extract($name)
    or null;

  // Remove `map` dictionaries from `$name`.
  @if $extracted-dictionary and list.length($extracted-dictionary) > 0 {
    $-name: ();
    @each $element in $name {
      @if not (meta.type-of($element) == map) {
        $-name: list.append($-name, $element);
      }
    }
    $name: $-name;
  }

  // Translate with `$dictionary`.
  @if $dictionary or $extracted-dictionary {
    $name: dictionary-translate.translate(
      $name,
      $dictionary or (),
      $extracted-dictionary or ()
    );
  }

  // Return translated name.
  @return $name;
}

// Examples.
// @debug translate(develop, (develop: d)); // d
// @debug translate(develop agile, (develop: d, agile: a)); // d a
// @debug translate(primary (dark: c) dark 'and' 'or' light (light: a), (dark: d)); // primary d "and" "or" a
