// Modules.
@use '../list';
@use '../string';

// Functions.
@use '../class/class.name.function';
@use '../functions';

// Status: TODO: Check the usage.
// The `selector.name()` function .
// @param `$name`
// @param `$dictionary`
// @param `$delimiter`
// @returns
@function name($name, $dictionary: (), $delimiter: null) {
  $index: list.nth(list.index($name, any, '==', '&', '&.', '.'), 1);
  @if $index {
    $class: class.name(list.from($name, $index), $dictionary, $delimiter);
    @if $index > 1 {
      @return if($index > 1, functions.name(list.to($name, $index - 1)), null) + string.replace($class, all, "&", "");
    }
    @return $class;
  }

  $name: functions.name($name);
  @return if(not (string.index($name, '&') == 1), string.replace($name, all, "&", ""), $name);
}

// Examples.
// @debug name('a' 'b' 'c'); // abc
// @debug name('.abc'); // .abc
// @debug name('.' 'a' 'b' 'c'); // .abc
// @debug name('.' __CLASS__ 'a' 'b' 'c'); // .__CLASS_abc
// @debug name(__CLASS__ 'a' 'b' 'c', $dictionary: ('a': 'ccc')); // __CLASS__abc
// @debug name('a' 'b' 'c', $dictionary: ('a': 'ccc')); // abc
// @debug name('&' 'a' 'b' 'c'); // &abc
// @debug name('&.' 'a' 'b' 'c'); // &.abc
// @debug name('&' '.' 'a' 'b' 'c'); // &.abc
// @debug name('a' 'b' 'c' '&' '.'); // abc.
// @debug name('span' '&' '.' 'a' 'b' 'c'); // span.abc
// @debug name('&' 'span', null, '-'); // TODO: null dictionary.

// Dictionary.
// @debug name('&' accordion, (prefix: spectre));

// hover
// @debug name('&:hover'); // &:hover
// @debug name('span' '&:hover'); // &:hover
// @debug name('span' '&' '.' 'a' 'b' 'c' '&:hover'); // span.abc:hover

// Tag.
// @debug name('s' 'p' 'a' 'n' '[disabled=""]' '&' '.' 'border' 'width'); // span[disabled=""].borderwidth
// @debug name('s' 'p' 'a' 'n' '[aria=""]' '&' '.' 'border' 'width'); // span[aria=""].borderwidth
// @debug name('s' 'p' 'a' 'n' '[attr="aaa"]' '&.' 'border' 'width'); // span[attr="aaa"].borderwidth
// @debug name('s' 'p' 'a' 'n' '[attr="aaa"]' '.' 'border' 'width'); // span[attr="aaa"].border-width
