// Translator.
@use 'v1.0.0' as translator;

// ---
// Dictionary
// ---
$-dictionary: (
  class: (prefix: class-prefix, suffix: class-suffix),
  prefix: spectre,
  suffix: end,

  // Sizes.
  (extra large, 'extra large', extra-large): xl,
  (extra small, 'extra small', extra-small): xs,

  large: lg,
  medium: md,
  small: sm,

  size: s,
);

// ---
// Dictionary example.
// ---
$-dictionary-example: translator.dictionary-merge(null, (
  (extra large, 'extra large', extra-large): xl,
  (extra small, 'extra small', extra-small): xs,
  class: (prefix: class-prefix, separator: class-separator, suffix: class-suffix, calendars: (calendar: cal), labels: (label: lab)),
  general: (word: słowo, (wrapper, wrap): owijka, (technology, technologia): tech, border: b, outline: o, color: c),
  large: lg,
  medium: md,
  prefix: spectre,
  small: sm,
  suffix: end,
));


// Use the global dictionary.
// translator.$dictionary-global: false; // set the dictionary global to false
// @debug translator.$dictionary-global; // true
// @debug translator.$dictionary; // (word: translation)

// Working on the global dictionary.
// set the (word:translation)
// @debug translator.dictionary-set(prefix, spectre); // (word: translation, prefix: spectre)
// @debug translator.dictionary-set(suffix, end); // (word: translation, prefix: spectre, suffix: end)

// set the dictionary under the key `class`
// @debug translator.dictionary-set(class, (prefix: spectre, suffix: end)); // (word: translation, class: (prefix: spectre, suffix: end))

// merge `$-dictionary` with a global dictionary
// @debug translator.dictionary-merge($dictionary: $-dictionary); // (word: translation, class: (prefix: class-prefix, suffix: class-suffix), prefix: spectre, suffix: end, (extra large, "extra large", extra-large): xl, (extra small, "extra small", extra-small): xs, large: lg, medium: md, small: sm, size: s)

// merge `$-dictionary` under the sub-dictionary key with a global dictionary
// @debug translator.dictionary-merge(sub-dictionary, $dictionary: $-dictionary); // (word: translation, sub-dictionary: (class: (prefix: class-prefix, suffix: class-suffix), prefix: spectre, suffix: end, (extra large, "extra large", extra-large): xl, (extra small, "extra small", extra-small): xs, large: lg, medium: md, small: sm, size: s))

// merge class from `$-dictionary` under the sub-dictionary key with a global dictionary
// @debug translator.dictionary-merge(sub-dictionary, $dictionary: $-dictionary class); // (word: translation, sub-dictionary: (class: (prefix: class-prefix, suffix: class-suffix), prefix: spectre, suffix: end, (extra large, "extra large", extra-large): xl, (extra small, "extra small", extra-small): xs, large: lg, medium: md, small: sm, size: s))

// merge class from `$-dictionary` under the sub-dictionary key with a global dictionary
@debug translator.dictionary-merge(sub-dictionary, $-dictionary class); // (word: translation, sub-dictionary: (class: (prefix: class-prefix, suffix: class-suffix)))

// get dictionary
@debug translator.dictionary-get(sub-dictionary); // (class: (prefix: class-prefix, suffix: class-suffix))

// merge then pick dictionary
@debug translator.dictionary-pick(sub-dictionary); // (sub-dictionary: (class: (prefix: class-prefix, suffix: class-suffix)))

// check modified dictionary
@debug translator.dictionary-get(); // (word: translation, sub-dictionary: (class: (prefix: class-prefix, suffix: class-suffix)))

// get flattened dictionary by picking from the global dictionary
@debug translator.dictionary((sub-dictionary, class)); // (word: translation, prefix: class-prefix, suffix: class-suffix)




// ---
// Translate
// ---
// merge before translate
@debug translator.dictionary-merge(null, $-dictionary);

// check dictionary
@debug translator.dictionary(); // (word: translation, prefix: spectre, suffix: end, (extra large, "extra large", extra-large): xl, (extra small, "extra small", extra-small): xs, large: lg, medium: md, small: sm, size: s)

// do some translates
@debug translator.translate-string(prefix, (sub-dictionary, class)); // class-prefix
@debug translator.translate-string(suffix); // end
@debug translator.translate-string(extra-large); // xl

// use translate
@debug translator.translate(extra large); // xl
@debug translator.translate((extra large) (extra small)); // xl xs
@debug translator.translate(prefix width suffix, (sub-dictionary, class)); // class-prefix width class-suffix







// TODO: Check.
// --- List
// @debug translator.translate-list((wrapper, technology), general); // owijka, tech
// @debug translator.translate-list((wrapper, technology) color, general); // (owijka, tech) c
// @debug translator.translate-list((wrapper,), general); // (owijka,)

// Different -dictionary.
// @debug translator.translate-list((calendar, label), (class, calendars)); // cal, label

// --- Map
// String.
// @debug translator.translate-map((word: wrapper), general); // (word: owijka)

// @debug translator.translate-map((limit: first), ((first, start): 1, (last, length, end): 50)); // (limit: 1) // TODO:

// List.
// @debug translator.translate-map((word: (wrapper, wrap)), general); // (word: (owijka, owijka))

// Different -dictionary.
// @debug translator.translate-map((calendar: calendar), (class, calendars)); // (calendar: cal)


// --- String
// @debug translator.translate-string(word, general); // słowo
// @debug translator.translate-string(wrapper, general); // owijka
// @debug translator.translate-string(calendar, (class, calendars)); // cal


// --- Any
// List.
// @debug translator.translate((wrapper, technology), general); // owijka, tech
// @debug translator.translate((wrapper, technology) color, general); // (owijka, tech) c

// Map.
// @debug translator.translate((word: wrapper), general); // (word: owijka)

// @debug translator.translate((limit: first), ((first, start): 1, (last, length, end): 50)); // (limit: 1) // TODO:

// String.
// @debug translator.translate(wrapper, general); // owijka

// Different dictionary.
// @debug translator.translate(calendar, (class, calendars)); // cal
