// Modules.
@use '../list';

// Status: TODO:
// Category: Property variant.
// The `variant.class-property()` mixin.
// @param `$class-property-name`
// @param `$combine`
@mixin class-property($class-property-name, $combine: false) {
  @if type-of($class-property-name) == map {
    @each $class, $property-name in $class-property-name {
      @if list.length($class) > 0 and list.has-bool($class) {
        $combine: list.bool($class);
        $class: list.nth(list.remove-value($class, true, false), 1);
      }
      @if $combine {
        @content($class, $property-name);
      } @else {
        @include list.each($class) using($class, $index) {
          @content($class, $property-name);
        }
      }
    }
  } @else {
    @if list.length($class-property-name) > 0 and list.has-bool($class-property-name) {
      $combine: list.bool($class-property-name);
      $class-property-name: list.nth(list.remove-value($class-property-name, true, false), 1);
    }
    @if $combine {
      @content($class-property-name, null);
    } @else {
      @include list.each($class-property-name) using($class-property-name, $index) {
        @content($class-property-name, null);
      }
    }
  }
}
