// Sass.
@use 'sass:list';

// Modules.
@use '../map';

// Status: TODO:
// The `variant.modifier-retrieve()` function.
// @param `$modifier`
// @param `$type`
// @param `$level`
// @arbitrary `$key-value...`
// @returns
@function modifier-retrieve($modifier, $type, $level, $key-value...) {
  $result: ();
  @each $key-value in $key-value {
    @if list.length($key-value) > 1 {
      $result: map.set(
        $result,
        list.nth($key-value, 1),
        map.get-any($modifier, ($level, $type, list.nth($key-value, 1)), ($type, list.nth($key-value, 1)), list.nth($key-value, 2))
      );
    } @else {
      $result: map.set(
        $result,
        $key-value,
        map.get-any($modifier, ($level, $type, $key-value), ($type, $key-value), null)
      );
    }
  }
  @return $result;
}
