// Modules.
@use '../list';
@use '../map';
@use '../selector';
@use 'indicator';

// Functions.
@use '../color/functions/color.name.function' as *;
@use '../color/name';

// Status: DONE
// Category: Tree variant.
// The `variant.nest()` nest indicated by '+' variant of `list` or `map` type.
// @arbitrary `$variants...`
// @returns The returned value is nested `list` or `map`.
@function nest($variants...) {
  $result: ();
  @each $variant in $variants {
    @each $name, $class-color in $variant {
      @each $name in if(list.separator($name) == comma, $name, ($name,)) {
        $nested: indicator.index($name, '+');
        $variant-nested: null;
        @if $nested {
          $name: if($nested, indicator.remove($name, '+'), $name);
          @if type-of($class-color) == map {
            @each $key, $v in $class-color {
              $class-color: map.key-replace($class-color, $key, list.nth(selector.nest($name, $key), 1));
            }
          } @else {
            $variant-nested: name.nest($name, $class-color);
          }
        }

        $result: map.deep-merge($result, ($name: if($nested, $variant-nested, $class-color)));
      }
    }
  }
  @return $result;
}

// Examples.
// @debug nest((control: (disabled, error, info, success, warning)));
// @debug nest((+control: (disabled, error, info, success, warning)));
// @debug nest((+primary: (color: #aaa, dark: #bbb, light: #ccc)));

// nest color variant
// @debug nest(((+secondary, primary): (color, dark, light)));
// @debug nest(((+secondary, primary): (color, (ultra dark, -30%), (mega light, 60%))));
